.home-page{
    img{
        margin-top:10vh;
        width:40%;
        transition: 1.5s;
    }
    .fishy{
        position: relative;
        bottom: -360px;
        right: -310px;
        width: 10%;
    }
    .animate{
        transform: scale(4);
        opacity:0;
    }
}